@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button class="btn m-5 btn-success" onclick="payNew(10000,8712,'Paiement par paytech')">
        Payer avec paytech
    </button>   
</div>
<script>

function payNew(montantTotal, numeroDossier, denomination) 
{
    (new PayTech({
        MontantTotal: montantTotal,
        Reference: numeroDossier,
        NomPayment: denomination
    })).withOption({
        requestTokenUrl: '/payment',
        method: 'POST',
        prensentationMode: PayTech.OPEN_IN_POPUP,
        willGetToken: function () {
            console.log("willGetToken");
        },
        didGetToken: function (token, redirectUrl) {
            console.log(token,"didGetToken");
        },
        didReceiveError: function (error) {
            console.log(error,"didReceiveError");
        },
        didReceiveNonSuccessResponse: function (jsonResponse) {
            console.log(jsonResponse,"didReceiveNonSuccessResponse");
        }
    }).send();
}

</script> 